.container-fluid{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
}
.card{
    margin-left: auto!important;
    margin-right: auto!important;
    padding: 1rem!important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    width: 100%;
}

.col-lg-7{
    margin-left: auto!important;
    margin-right: auto!important;
    position: relative;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
}

.list-group{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin:30px
}
.list-group-item{
    z-index: 2;
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
    border-top-left-radius: .35rem;
    border-top-right-radius: .35rem;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0,0,0,.125);
    width: 100%;
    text-align: inherit;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 0;
}
.list-group-item-action{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    width: 100%;
    text-align: inherit;
    text-decoration: none;
    cursor: pointer;
    color: black;
    margin-right: 20px;
}
.list-group-item-action:hover{
    background-color: rgb(224, 218, 218);
}
.fa-tshirt{
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-stream{
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
