.container-fuild{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 15rem;
    margin-right: 15rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
}
.col{
    margin-left: auto!important;
    margin-right: auto!important;
    position: relative;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
}
.bg{
    padding: 3rem!important;
    box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2)!important;
    border-radius: .3rem!important;
    background-color: #fff!important;
}
.mb{
    margin-bottom: 1rem!important;
    border-radius: 50rem!important;
    background-color: #f8f9fc!important;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}
.nav-item{
    flex: 1 1 auto;
    text-align: center;
}
.h{
    margin-bottom: 0!important;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 0;
}
.tab-pane{
    display: block;
    transition: opacity .15s linear;
}
.alert{
    color: #0f6848;
    background-color: #d2f4e8;
    border-color: #bff0de;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .35rem;
    margin-top: 0;
}
.content-center{
    justify-content: center!important;
    display: flex!important;
}
.nav-link{
    border-radius: 50rem!important;
    display: block;
    padding: .5rem 1rem;
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
}
.btn-light{
    cursor: pointer;
    color: #4e73df;
    border-color: #4e73df;
    background-color: #f8f9fc;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .35rem;
}
svg{
    overflow: hidden;
    vertical-align: middle;
}
.btn-light:hover{
    color: white;
    background-color: #4e73df;
}