<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Clothing Parsing</title>
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='fas fa-tshirt'></i>
      <span class="logo_name">Clothing Parsing</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/segmentation_predict">
          <i class='bx bx-analyse'></i>
          <span class="link_name">Segmentation</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/segmentation_predict">Segmentation</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a>
            <i class='bx bx-closet'></i>
            <span class="link_name">Classification</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name">Classification</a></li>
          <li><a href="/classification_predict">Yolo</a></li>
          <li><a href="/mask_predict">Mask RCNN</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="/color_predict">
            <i class='bx bx-palette'></i>
            <span class="link_name">Color Analysis</span>
          </a>
        </div>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/color_predict">Color Analysis</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a>
            <i class='bx bxs-data'></i>
            <span class="link_name">Datas</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name">Datas</a></li>
          <li><a href="/1">Upload Data</a></li>
          <li><a href="/3">Uploaded Datas</a></li>
          <li><a href="/label">Labels</a></li>
        </ul>
      </li>

      <li>
    <!--
    <div class="profile-details">
      <div class="profile-content">
        <img src="static/image/profile.jpg" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">Prem Shahi</div>
        <div class="job">Web Desginer</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div> -->
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <!-- <span class="text">Drop Down Sidebar</span> -->
      <img class="zoi-logo" src="static/image/logo.png">
    </div>
    <div class="intro">
      <h1 class="intro-head">Clothing Analysis</h1>
      <p class="intro-p">Research on fashion analysis is mainly on clothing analysis. Clothing analysis tasks include clothing recommendation, retrieval and parsing. On these main tasks, this demo includes: Clothing segmentation, classification and dominant color analysis.</p>
      <hr class="intro-hr">
      <p class="intro-p-2">Scroll down to learn how to use the demo..</p>
      <p class="button-p"><a href="/1" role="button" class="button-setting">Skip the intro</a></p>
    </div>
    <div class="bg-white">
      <div class="shadow">
        <div class="card-group">
          <div class="card">
            <img src="static/image/1.png" class="card-img">
            <div class="card-body">
              <h5 class="card-title">1. Upload Data</h5>
              <p class="card-text">Upload images.</p>
            </div>
          </div>
          <div class="card">
            <img src="static/image/2.png" class="card-img">
            <div class="card-body">
              <h5 class="card-title">2. Select Main Action</h5>
              <p class="card-text">Select the action you will take via the sidebar next to it.</p>
            </div>
          </div>
          <div class="card">
            <img src="static/image/3.png" class="card-img">
            <div class="card-body">
              <h5 class="card-title">3. Run</h5>
              <p class="card-text">Run a script. Please wait a little bit in this section may take a few minutes...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="static/js/script.js"></script>

</body>
</html>
